.section {
  padding: 60px 0;
  background-color: transparent;
}

.section-box {
  width: 70%;
  margin: auto;

  background-color: #1a1d21; 

  padding: 3rem;

  border-radius: 50px;
}

.section-title {
  text-align: center;

  color: #ef4444; 

  font-size: var(--h2-font-size);

  margin-bottom: 2rem;
}

.project-list {
  display: flex;

  gap: 1.5rem;
}

.project-card {
  flex: 1;

  background-color: #121417;

  padding: 1.5rem;

  border-radius: 20px;
}

.project-card h3 {
  color: #ef4444; 

  margin-bottom: 1rem;
}

.project-card p {
  color: #d1d5db;
  margin-bottom: 1rem;
}

.project-card a {
  color: #ef4444; 

  font-weight: 600;

  text-decoration: none;
}

.tags {
  margin-bottom: 1rem;
}

.tags span {
  display: inline-block;

  background-color: #1e2227;
  color: #cbd5e1;           

  padding: 5px 10px;

  border-radius: 8px;

  margin-right: 5px;

  font-size: 0.9rem;
}